@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  font-family: 'Creepster', cursive, monospace;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: -1;
}

#calculator {
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(8px);
  border: 3px solid rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 30px 20px;
  width: 300px;
  box-shadow: 0 0 20px #000, inset 0 0 40px #000;
  z-index: 1;
}

#result {
  width: 100%;
  background: rgba(0,0,0,0.1);
  color: #fff;
  font-size: 40px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 15px 0;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 5px #636769;
}

button:hover {
  background: #000;
}

button:active {
  transform: translateY(3px);
}

button.operator {
  background: rgba(100,100,100,0.7);
}

button.clear {
  grid-column: span 4;
}

#audio-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 2;
}

#audio-btn {
  background: #fff;
  border: 2px solid #7e4242;
  padding: 10px;
  cursor: pointer;
}

#audio-btn img {
  width: 40px;
  height: 40px;
  filter: invert(1);
  transition: transform 0.2s;
}

#audio-btn:hover img {
  transform: scale(1.1);
}

#audio-label {
  font-family: 'Creepster', cursive;
  color: #ff0000;
  text-shadow: 2px 2px 4px #000;
  font-size: 16px;
  pointer-events: none;
}
